@import url("Styles/header.css");


:root {
    --cor--de--fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
}

body {
    background-color: var(--cor--de--fundo);
}

h1 {
    color: rgb(74, 148, 74);
}